<div class="hero-unit">
  <h1>Home Page</h1>
  <p class="marketing-byline"><%= editable_content(:hero) %></p>
</div>

<p>
<%# defined in CmsinoHelper ../gems/cmsino/app/helpers/cmsino_helper.rb %>
<%= editable_content(:main) %>
</p>

<div class="row">
  <div class="span4">
  </div>
  <div class="span4">
  </div>
  <div class="span4">
  </div>
</div>
