<h1>Helps</h1>

<%= editable_image(:main) %>  

<div class="row">
  <div class="span3">
    <%= icon('info-sign', :size => 240) %>  
  </div>
  <div class="span9">
    <h2>who we are</h2>
    <%= editable_content(:who) %>  
  </div>
</div>

