@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cmsino/cmsino";
@import "home_header";

.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}

h2 .fa {
  font-size: 200%;
}

.home-terzet {
  padding: 15px;
}
